<div class="tab-bar">
  {% for item in site.nav %}
    <a class="tab{% if page.url == item.url %} active{% endif %}"
       href="{{ item.url | relative_url }}">
      <span class="tab-glyph">
        {% case item.title %}
          {% when 'home' %}~
          {% when 'projects' %}/
          {% when 'articles' %}{}
          {% else %}#
        {% endcase %}
      </span>
      <span class="tab-label">{{ item.title }}</span>
    </a>
  {% endfor %}
  <button class="tab new-tab" title="new tab">+</button>
</div>
